$fontEuclid: 'Euclid Circular A';
$fontCircular: 'Circular Std';

$fontLight: 300;
$fontRegular: 400;
$fontMid: 500;
$fontSemi: 600;
$fontBold: 700;
$transition: 0.3s linear;

// colors
$clrBlack: #000000;
$clrdefault: #fff;
$clrPrimary: #771efc;
$clrheading: #1e266d;
$clrContent: #787da7;
$clrGreen: #42c826;
$clryellow: #f8b409;
