// Contact Inform Start

.contact-inform-wrapper {
	background: #f3f7fe;
	border-radius: 15px;
	padding: 40px 15px 40px 90px;

	@include respond(tabland) {
		padding-left: 15px;
	}
}

.inform-content {
	@include respond(tabport) {
		text-align: center;
	}
	h2 {
		margin-top: 20px;
		margin-bottom: 45px;
	}
	.inform-btn {
		a {
			font-family: $fontCircular;
			font-size: 16px;
			font-weight: $fontRegular;
			line-height: 16px;
			color: $clrdefault;
			background: $clrPrimary;
			display: inline-block;
			border: 1px solid $clrdefault;
			border-radius: 15px;
			width: 223px;
			height: 48px;
			@include flex-box;
			transition: $transition;

			&:hover {
				color: $clrPrimary;
				border: 1px solid $clrPrimary;
				background: transparent;
			}

			@include respond(tabport) {
				margin: auto;
			}
		}
	}
}

.inform-right-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	.image {
		img {
			width: auto;
			height: auto;
			display: block;

			@include respond(medium) {
				width: 100%;
			}
			@include respond(tabland) {
				margin: 20px 0;
			}
			@include respond(tabport) {
				width: auto;
				margin: 20px auto;
			}
			@include respond(phone) {
				width: 100%;
			}
		}
	}

	@include respond(tabport) {
		display: block;
	}
}

.inform-wrapper {
	.inform-meta {
		display: flex;
		align-items: center;
		margin-bottom: 30px;
		background: #e9f0fb;
		border-radius: 15px;
		padding: 18px;
		.icon {
			height: 51px;
			width: 51px;
			border-radius: 8px;
			background: $clrdefault;
			margin-right: 19px;
			@include flex-box;
			box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.16);

			img {
				width: auto;
				height: auto;
				display: block;
			}
		}
		.content {
			flex: 1;

			h6 {
				font-family: $fontEuclid;
				color: $clrheading;
				font-size: 16px;
				line-height: 20px;
			}
			a {
				font-family: $fontEuclid;
				font-size: 12px;
				color: $clrContent;
				display: block;
				font-weight: $fontMid;
				transition: $transition;

				&:hover {
					color: $clrPrimary;
				}
			}
		}
	}
}

// Contact Inform End
